<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="{{encoding}}">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://shwr.me/shower/themes/ribbon/styles/styles.css">
    <link rel="stylesheet" href="style.css">
    <style>
        {{{externalStyle}}}
    </style>
</head>
<body class="shower list">

    <header class="caption">
        <h1>{{title}}</h1>
        <p><a href="{{author.url}}">{{author.name}}</a>, {{author.company}}</p>
    </header>

    {{{slideshow}}}

    <div class="progress"><div></div></div>

    <script src="https://shwr.me/shower/shower.js"></script>
</body>
</html>
